# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fireball specials
*.log
*.x
*.xsf
.project
.svn
*~
results
*.DS_Store
autom4te.cache
tests/01.Si/.ipynb_checkpoints/Si-checkpoint.ipynb
tests/02.TiO2/WARNINGS
tests/02.TiO2/.ipynb_checkpoints/TiO2-checkpoint.ipynb
